#Important Note:
# For the convinience, .env file is already included in the project as it is a private repository so that it will be
# easier for the recruiters to run the project directly by making a docker container.

# Make .env file from this file and add it to the root of this project. 

#GCP Postgres Connection String
database_url=postgresql://<dbUsername>:<Password>@<PublicIP>:<Port>/<DBName>

# Redis
redis_url=redis://default:<Password>@redis-xxxxxxx......redns.redis-cloud.com:16388

# Security
SECRET_KEY=your-secret-key-here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# App
DEBUG=true
ALLOWED_HOSTS=*
