PyYAML
fastapi
uvicorn
typing-extensions
python-dotenv
sqlalchemy
psycopg2-binary
celery
streamlit
redis
pydantic
pydantic-settings
python-jose
passlib
requests
numpy
datetime
httpx
alembic
python-multipart
streamlit-echarts
altair
plotly
streamlit-mermaid
streamlit-extras